@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html { height: 100%; }
body {
  margin: 0;
  font-family: 'Montserrat', 'sans-serif';
  display: grid;
  grid-template-rows: auto 50px;
  grid-template-columns: 12% auto;
  grid-template-areas: 
    "sidebar right"
    "footer footer";
}
a { text-decoration: none; }
ul { list-style: none; float: right; }
ul li { display: inline; }
ul li a { color: #fff; padding: 15px; }

#logo {
  padding: 15px;
  margin-left: 15px;
  background-color: #F3F1C7;
  color: #298383;
  text-align: center;
  font-weight: bold;
  display: inline-block;
}

header {
  background-color: #41C7C7;

  display: grid;
  grid-template-columns: [logo-start] fit-content(20%) [nav-start] auto [nav-end];
}

section#hero {
  background-color: #36ADAD;
  padding: 2em;
  border-top: 5px solid #2EA0A0;

  display: grid;
  grid-template-columns: repeat(2, auto);
}

#content h1 {
  text-transform: uppercase;
  color: #FFFBC5;
}

#content p {
  color: #FFFBC5;
}

img {
  max-width: 100%;
  background-size: cover;
  margin: 0 auto;
}

#mountain {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.sidebar {
  grid-area: sidebar;
  background: #1c9090;
  color: #fff;
  padding: 1em;
}

.main {
  grid-area: right;
  grid-template-rows: 51px fit-content(30%);
  display: grid;
}

footer {
  grid-area: footer;
  background: lightgray;
}

#features {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

#features i {
  font-size: 2em
}

ul#features {
  margin: 0; 
  padding: 0;
}

ul#features li {
  background-color: lightgray;
  padding: 1em;
  width: 70%;
}

Ul#features li:nth-child(3) {
  justify-self: end;
}

ul#features li p {
  color: #4C4C4C;
}